/* Shimmer effect animation */
.shimmer {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 60vh;
    background: #f6f7f8;
    border-radius: 4px;
    overflow: hidden;
  }
  .shimmer:after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    animation: loading 1.5s infinite;
  }
  
  @keyframes loading {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
  